{% extends 'base.html' %}

{% block body %} 

<form action="/create-checkout-session" method="POST">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-basic-color mb-4" style="height: 500px;">
                    <div class="card-body">
                        <div class="card_inner">
                            <div class="card_inner__header">
                                <img src="https://plus.unsplash.com/premium_photo-1681582863624-24337f436b78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Money" style="width: 100%;">
                            </div>
                            <div class="card_inner__content">
                                <div class="title">Basic Plan</div>
                                <div class="price">1 Rs</div>
                                <div class="text">
                                    Track your basic expenses with this plan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                            <div class="card_inner__cta">
                                <button type="submit" id="checkout-button" class="btn btn-primary">
                                    Get Basic Plan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-pro-color mb-4" style="height: 500px;">
                    <div class="card-body">
                        <div class="card_inner">
                            <div class="card_inner__header">
                                <img src="https://images.pexels.com/photos/4386225/pexels-photo-4386225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Banknotes" style="width: 100%;">
                            </div>
                            <div class="card_inner__content">
                                <div class="title">Pro Plan</div>
                                <div class="price">2 Rs</div>
                                <div class="text">
                                    Take your expense tracking to the next level with the Pro plan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                            <div class="card_inner__cta">
                                <button type="submit" id="checkout-button" class="btn btn-primary">
                                    Get pro Plan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-premium-color mb-4" style="height: 500px;">
                    <div class="card-body">
                        <div class="card_inner">
                            <div class="card_inner__header">
                                <img src="https://images.pexels.com/photos/5849566/pexels-photo-5849566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Wallet" style="width: 100%;">
                            </div>
                            <div class="card_inner__content">
                                <div class="title">Premium Plan</div>
                                <div class="price">3 Rs</div>
                                <div class="text">
                                    Experience the ultimate expense tracking features with our Premium plan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                            <div class="card_inner__cta">
                               <button type="submit" id="checkout-button" class="btn btn-primary">
                                    Get Premium Plan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

<h1> akash desai</h1>

</form>
{% endblock %}