{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3 class="mt-3">EXPENSES</h3>
    {% if expense %}
        <div class="row">
            {% for row in expense %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ row.expensename }}</h5>
                            <p class="card-text">
                                <strong>Date:</strong> {{ row.date }}<br>
                                <strong>Amount:</strong> ₹{{ row.amount }}<br>
                                <strong>Payment Mode:</strong> <span class="badge badge-info">{{ row.paymode }}</span><br>
                                <strong>Category:</strong> <span class="badge badge-primary">{{ row.category }}</span>
                            </p>
                            <div class="btn-group" role="group">
                                <a href="/edit/{{ row._id }}" class="btn btn-success btn-lg btn-rounded " style="border-top-right-radius: 0; border-bottom-right-radius: 0;">Edit</a>
                                <form method="POST" action="/delete/{{ row._id }}">
                                    <button type="submit" class="btn btn-danger btn-lg btn-rounded">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">No Expenses Found</h5>
                <p class="card-text">Click <a href="/add">here</a> to add expenses.</p>
                <img src="../static/images/not-found.png" alt="No expenses found" class="img-fluid">
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
