{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2 class="mt-4">Month's Expenses</h2>
 
    <!-- Category-wise Expense Breakdown -->
    <h2 class="mt-4"></h2>
    <div class="row">
        <div class="col-md-6">
            <!-- Create a canvas element for the chart -->
            <canvas id="myChart" width="600" height="600"></canvas>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                {% for category, total in category_totals.items() %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category }}
                    <span class="badge badge-primary badge-pill">₹ {{ total }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- JavaScript code for chart -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the canvas element
        var ctx = document.getElementById('myChart').getContext('2d');

        // Define chart data
        var chartData = {
            labels: [{% for category, _ in category_totals.items() %}"{{ category }}",{% endfor %}],
            datasets: [{
                data: [{% for _, total in category_totals.items() %}{{ total }},{% endfor %}],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 159, 64)'
                ],
            }],
        };

        // Define chart options
        var chartOptions = {
            responsive: false,
            plugins: {
                legend: {
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Expense Breakdown',
                },
            },
        };

        // Create and render the chart
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: chartData,
            options: chartOptions,
        });
    });
</script>

{% endblock %}
